<h1>Autor</h1>

<table style="margin:0 auto;">
    <tr>
        <td>
            <img src="images/alf.jpg" style="height:120px;" />
        </td>
        <td>
            Santi Ferrer
        </td>
    </tr>
</table>
<a href="/">Volver a inicio</a>
